/* Footer div
============================= */
.App-footer {
  display: flex;
  justify-content: center;
  font-style: italic;
  border-top: 3px solid #e0354b;
  width: 100%;
  position: fixed;
  bottom: 0;
}