/* Course table
============================= */
#CourseList {
  border: 1px solid lightgray;
  width: 100%;
}

.courseContainer {
  padding: 2rem;
}

thead tr:first-of-type th {
  text-align: center;
  border-bottom: 1px solid lightgray;
}

th {
  border-bottom: 1px solid lightgray;
  text-align: left;
  padding: 0.25rem;
}
